@import "../../../styles.scss";

a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

button {
  * {
    vertical-align: text-top;
  }
  span {
    font-size: medium;
  }
  border-radius: 5px;
  padding: 0.6rem !important;
  min-width: 220px !important;
  margin: 0.5rem !important;
}

button:hover {
  background: lighten($color: $blue_dark, $amount: 5) !important;
  border-color: $blue_ligth !important;
}

/* STRUCTURE */
:host {
  & > div {
    padding: 2rem 1rem;

  }
  span {
    font-size: small;
    font-weight: bold;
  }
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
