<ul class="p-0 m-0 list-group">
  <li
    *ngFor="let t of folder?.ftasks"
    class="bg-blue_ligth rounded row d-flex align-items-center py-2 mt-2 mx-1"
  >
    <div class="d-flex justify-content-between align-items-center">
      <!-- Done Checkbox -->
      <input
        (click)="modifTask(t, t.name, !t.done)"
        type="checkbox"
        [checked]="t.done"
      />
      <span class="checkmark"></span>
      <!-- Task Name -->
      <input
        [readonly]="readonly"
        (change)="modifTask(t, modifTaskInput.value, t.done)"
        (dblclick)="updateNames()"
        #modifTaskInput
        placement="top"
        ngbTooltip="Double click to modify"
        type="text"
        class="bg-none border-0 py-1 w-100 px-4"
        value="{{ t.name }}"
        aria-label="task input name"
        aria-describedby="button-addon1"
      />
      <!-- Delete Task -->
      <img
        (click)="deleteTask(t._id)"
        src="assets/plus-blue.png"
        class="pointer rotate"
        alt="plus"
        placement="top"
        ngbTooltip="Delete Task"
      />
    </div>
  </li>
  <!-- New Task Input -->
  <li
    id="addTask"
    class="rounded px-1 mt-2 mx-1 w-100 d-flex align-items-center"
    placement="top"
    ngbTooltip="Add a new Task"
  >
    <img src="assets/plus-blue.png" alt="plus" />
    <input
      (change)="addTask(addTaskInput)"
      #addTaskInput
      type="text"
      placeholder="New Task"
      aria-label="task add input"
      aria-describedby="button-addon1"
    />
  </li>
</ul>
