<!-- TASKS -->
<!-- task tittle-->
<div class="row bg-secondary">
  <h4>Tasks</h4>
</div>
<!-- tasks row -->
<ul *ngIf="folder" class="p-0 m-0 list-group">
  <li *ngFor="let t of folder?.ftasks"
    class="bg-third rounded row d-flex align-items-center text-capitalize py-2 mt-2 mx-1">
    <div class="d-flex justify-content-between align-items-center">
      <!-- done checkbox -->
      <input (change)="modifTask(t,t.name,!t.done)" class="form-check-input mt-0 mx-1 fs-2" type="checkbox"
        [checked]="t.done" aria-label="Checkbox for following text input">
      <!-- Task name / Input -->
      <input [readonly]="readonly" (dblclick)="readonly=false" (change)="modifTask(t,modifTaskInput.value,t.done)"
        #modifTaskInput type="text" class="bg-third border-0 px-2 py-1 h-75 w-100" value="/{{t.name}}"
        aria-label="task input name" aria-describedby="button-addon1">
      <!-- Buttons -->
      <span class="w-auto">
        <i (click)="deleteTask(t._id)" class="bi bi-trash w-auto fs-5 pl-4" placement="top"
          ngbTooltip="Delete Task"></i>
      </span>
    </div>
  </li>
</ul>
<!-- new task input-->
<div *ngIf="folder" class="input-group my-3">
  <input (change)="addTask(addTaskInput)" #addTaskInput type="text" class="form-control h-75"
    placeholder="Add a new task..." aria-label="task add input" aria-describedby="button-addon1">
  <button class="btn btn-outline-secondary px-1 py-0" type="button"><i class="bi bi-plus fs-4 text-success"
      placement="bottom" ngbTooltip="New Task"></i></button>
</div>
