<div class="container d-flex justify-content-center text-center align-items-center">
  <div class="bg-primary border border-dark rounded p-4 row w-100">
    <!--FOLDERS-->
    <div class="col-md-6">
      <!-- folder tittle-->
      <div class="row bg-secondary">
        <h4>Folders</h4>
      </div>
      <!-- folder row -->
      <ul class="p-0 m-0 list-group">
        <li *ngFor="let f of folders" class="bg-third list-group-item row d-flex align-items-center text-capitalize">
          <div [class.w-100]="!editFolder" [class.w-auto]="editFolder"
            class="d-flex selectFolder align-items-center justify-content-between" (click)="selectFolder(f._id)">
            <!--Folder icon open-->
            <i *ngIf="openFolder && f._id===selectedFid; else fClosed" placement="top" ngbTooltip="Close Folder"
              class="bi bi-folder2-open w-auto fs-1 px-2"></i>
            <!--Folder icon closed-->
            <ng-template #fClosed>
              <i placement="top" ngbTooltip="Open Folder" class="bi bi-folder w-auto fs-1 px-2"></i>
            </ng-template>
            <!--Folder Name-->
            <span *ngIf="!editFolder || selectedFid !== f._id " class="w-100 text-start">
              {{f.folder}}
            </span>
            <!--Butttons-->
            <div *ngIf="!editFolder || selectedFid !== f._id " class="w-auto d-flex align-items-center">
              <span class="badge bg-primary w-auto mx-2" placement="top" ngbTooltip="Tasks Count">{{f.count}}</span>
              <i (click)="editFolder = true" class="bi bi-pencil mx-2 w-auto fs-5" placement="top"
                ngbTooltip="Edit Folder"></i>
              <span class="w-auto">
                <i (click)="deleteFolder(f._id)" class="bi bi-trash w-auto fs-5" placement="top"
                  ngbTooltip="Delete Folder"></i>
              </span>
            </div>
          </div>
          <!--update folder name -->
          <div class="w-50" *ngIf="editFolder && selectedFid === f._id">
            <input (keydown.enter)="modifFolder(f, modifFolderInput.value)" #modifFolderInput type="text"
              class="bg-secondary form-control h-75" value="{{f.folder}}" aria-label="folder add input"
              aria-describedby="button-addon1">
          </div>
        </li>
      </ul>
    </div>
    <!--TASKS-->
    <div class="col-md-6">
      <!-- task tittle-->
      <div class="row bg-secondary">
        <h4>Tasks</h4>
      </div>
      <!-- tasks row -->
      <ul class="p-0 m-0 list-group">
        <div *ngFor="let t of allTasks">
          <li *ngIf="openFolder && t.fid === selectedFid"
            class="bg-third list-group-item row d-flex align-items-center text-capitalize">
            <div [class.w-100]="!editTask" [class.w-auto]="editTask"
              class="d-flex justify-content-between align-items-center" (click)="selectTask(t._id)">
              <!-- done checkbox -->
              <input (change)="modifTask(t,'',true)" class="form-check-input mt-0 mx-1" type="checkbox"
                [checked]="t.done" aria-label="Checkbox for following text input">
              <!-- Task name -->
              <span *ngIf="!editTask || selectedTid !== t._id" class="w-auto">
                {{t.task}}
              </span>
              <!-- Buttons -->
              <span *ngIf="!editTask || selectedTid !== t._id" class="w-auto">
                <i (click)="editTask = true" class="bi bi-pencil mx-2 w-auto fs-5" placement="top"
                  ngbTooltip="Edit Task"></i>
                <i (click)="deleteTask(t._id)" class="bi bi-trash-fill w-auto fs-5" placement="top"
                  ngbTooltip="Delete Task"></i>
              </span>
            </div>
            <!-- update task name -->
            <div class="w-50" *ngIf="editTask && selectedTid === t._id">
              <input (keydown.enter)="modifTask(t,modifTaskInput.value,false)" #modifTaskInput type="text"
                class="form-control h-75" value="{{t.task}}" aria-label="folder add input"
                aria-describedby="button-addon1">
            </div>
          </li>
        </div>
      </ul>
    </div>
    <!--Inputs-->
    <div class="row">
      <div class="col-6">
        <!-- new folder input-->
        <div class="input-group my-3">
          <input (change)="addFolder(addFolderInput)" #addFolderInput type="text" class="form-control h-75"
            placeholder="Add a new folder..." aria-label="folder add input" aria-describedby="button-addon1">
          <button class="btn btn-outline-secondary px-1 py-0" type="button"><i class="bi bi-plus fs-4 text-success"
              placement="bottom" ngbTooltip="New Folder"></i></button>
        </div>
      </div>
      <div class="col-6">
        <!-- new folder input-->
        <div *ngIf="selectedFid" class="input-group my-3">
          <input (change)="addTask(addTaskInput)" #addTaskInput type="text" class="form-control h-75"
            placeholder="Add a new task..." aria-label="task add input" aria-describedby="button-addon1">
          <button class="btn btn-outline-secondary px-1 py-0" type="button"><i class="bi bi-plus fs-4 text-success"
              placement="bottom" ngbTooltip="New Task"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
