<div class="container d-flex justify-content-center text-center align-items-center">
  <div class=" p-4 row w-100">
    <!--FOLDERS-->
    <div class="col-md-6">
      <app-folder-list [folders]="userData?.ufolders" [readonly]="readonly" (folderSelect)="selectedFid = $event"
        (refreshData)=" getData()" (authError)="redirectToError()"></app-folder-list>
    </div>
    <!--TASKS-->
    <div class="col-md-6">
      <app-task-list [folder]="getCurrentFolder()" [readonly]="readonly"
        (refreshData)="getData()" (authError)="redirectToError()"></app-task-list>
    </div>
  </div>
  <!--Spinner-->
  <div *ngIf="spinner" class="row d-flex align-items-center">
    <div class="clearfix">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
