<!-- top - Logo -->
<div class="row w-100 d-flex justify-content-center text-center py-5">
  <img class="tasky" src="assets/Tasky.png" alt="app-logo" />
  <h2 class="text-blue_dark">Just another To Do App...</h2>
</div>
<!--app-->
<div class="d-flex flex-wrap w-100 justify-content-center py-5">
  <!--All Folders List Card-->
  <div class="sized-card-blue_contrast">
    <!--User Name Input-->
    <div class="userName sized-card-blue_dark">
      <input
        [readonly]="readonly"
        (change)="updateUserName(modifUserName.value)"
        (dblclick)="updateNames()"
        #modifUserName
        placement="top"
        ngbTooltip="Double click to modify"
        type="text"
        value="{{ userData?.name }}"
        aria-label="task input name"
        aria-describedby="button-addon1"
      />
    </div>
    <!--FOLDERS-->
    <app-folder-list
      [folders]="userData?.ufolders"
      [readonly]="readonly"
      (refreshData)="getData()"
      (authError)="accessTokenExpired()"
      (readonlyFalse)="updateNames()"
      #folderList
    >
    </app-folder-list>
  </div>
  <!-- Add folder Btn-->
  <div class="w-100">
    <button
      id="addFolder"
      class="sized-card-blue_dark m-auto mt-4 "
      type="button"
      placement="bottom"
      ngbTooltip="Add a new Folder"
    >
      <img src="assets/plus.png" alt="plus" />
      <input
        (change)="addFolder(addFolderInput)"
        #addFolderInput
        type="text"
        placeholder="Add Folder"
        aria-label="folder add input"
        aria-describedby="button-addon1"
      />
    </button>
  </div>
</div>
<!--bottom-->
<div class="w-100 justify-content-center text-center pb-5">
  <!--Spinner-->
  <div class="clearfix" style="height: 30px !important">
    <div *ngIf="spinner" class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <!--Account manage-->
  <button class="pointer account" (click)="logOut()">
    <span>Log Out</span>
  </button>
  <br />
  <button class="pointer account" (click)="deleteUser()">
    <span class="pointer">Delete Account</span>
  </button>
</div>
