<!--FOLDERS-->
<!-- folder row -->
<ul class="p-0 m-0 list-group">
  <div *ngFor="let f of folders">
    <li
      class="bg-blue_ligth text-blue_dark row d-flex align-items-center mt-2 mx-1"
    >
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <!--Folder Name / Input-->
        <input
          [readonly]="readonly"
          (dblclick)="updateNames()"
          (change)="modifFolder(f, modifFolderInput.value)"
          #modifFolderInput
          placement="top"
          ngbTooltip="Double click to modify"
          type="text"
          value="{{ f.name }}"
          aria-label="folder add input"
          aria-describedby="button-addon1"
        />
        <div class="d-flex w-100 justify-content-between">
          <!--Delete Folder Button-->
          <button
            (click)="deleteFolder(f._id)"
            class="deleteFolder card-blue_dark px-1"
            placement="top"
            ngbTooltip="Delete Folder"
          >
            <img src="assets/plus.png" alt="delete folder icon" />
          </button>
          <!--Open/Close Tasks Button-->
          <button
            (click)="openFolder(f)"
            class="openTasks card-blue_dark d-flex align-items-center"
            placement="top"
            ngbTooltip="Open/Close tasks"
          >
            <img src="assets/list.png" alt="task list icon" />
            <span class="px-1"
              >{{ getDoneTasks(f) }}/{{ f.ftasks.length }}</span
            >
            <img
              [class.rotate]="openFolders.includes(f._id)"
              src="assets/arrow.png"
              alt="arrow icon"
            />
          </button>
        </div>
      </div>
    </li>

    <app-task-list
      *ngIf="openFolders.includes(f._id)"
      [folder]="f"
      [readonly]="readonly"
      (readonlyFalse)="updateNames()"
      (refreshData)="emitRefreshData()"
      (authError)="emitAuthError()"
      #taskList
    ></app-task-list>
  </div>
</ul>
