<div class="container d-flex justify-content-center text-center align-items-center">
  <div class=" p-4 row w-100">
    <!--FOLDERS-->
    <div class="col-md-6">
      <!-- folder tittle-->
      <div class="row bg-secondary">
        <h4>Folders</h4>
      </div>
      <!-- folder row -->
      <ul class="p-0 m-0 list-group">
        <li *ngFor="let f of userData?.ufolders"
          class="bg-third rounded row d-flex align-items-center text-capitalize mt-2 mx-1">
          <div class="d-flex align-items-center justify-content-between">
            <!--Folder icon open/closed-->
            <div (click)="selectFolder(f)">
              <i *ngIf="selectedFolder && f._id===selectedFolder._id; else fClosed" placement="top"
                ngbTooltip="Close Folder" class="bi bi-folder2-open w-auto fs-1 px-2 text-secondary"></i>
              <ng-template #fClosed>
                <i placement="top" ngbTooltip="Open Folder" class="bi bi-folder w-auto fs-1 px-2"></i>
              </ng-template>
            </div>
            <!--Folder Name / Input-->
            <input [readonly]="readonly" (dblclick)="readonly=false" (change)="modifFolder(f,modifFolderInput.value)"
              #modifFolderInput type="text" class="bg-third border-0 px-2 py-1 h-75 w-100" value="/{{f.name}}"
              aria-label="folder add input" aria-describedby="button-addon1">
            <!--Butttons-->
            <div class="w-auto d-flex align-items-center">
              <span class="badge bg-primary w-auto mx-2" placement="top"
                ngbTooltip="Tasks Count">{{f.ftasks.length}}</span>
              <span class="w-auto">
                <i (click)="deleteFolder(f._id)" class="bi bi-trash w-auto fs-5" placement="top"
                  ngbTooltip="Delete Folder"></i>
              </span>
            </div>
          </div>
        </li>
      </ul>
      <!-- new folder input-->
      <div class="input-group my-3">
        <input (change)="addFolder(addFolderInput)" #addFolderInput type="text" class="form-control h-75"
          placeholder="Add a new folder..." aria-label="folder add input" aria-describedby="button-addon1">
        <button class="btn btn-outline-secondary px-1 py-0" type="button"><i class="bi bi-plus fs-4 text-success"
            placement="bottom" ngbTooltip="New Folder"></i></button>
      </div>
    </div>
    <!--TASKS-->
    <div class="col-md-6">
      <!-- task tittle-->
      <div class="row bg-secondary">
        <h4>Tasks</h4>
      </div>
      <!-- tasks row -->
      <ul *ngIf="selectedFolder" class="p-0 m-0 list-group">
        <li *ngFor="let t of selectedFolder.ftasks"
          class="bg-third rounded row d-flex align-items-center text-capitalize py-2 mt-2 mx-1">
          <div class="d-flex justify-content-between align-items-center">
            <!-- done checkbox -->
            <input (change)="modifTask(t,t.name,!t.done)" class="form-check-input mt-0 mx-1 fs-2" type="checkbox"
              [checked]="t.done" aria-label="Checkbox for following text input">
            <!-- Task name / Input -->
            <input [readonly]="readonly" (dblclick)="readonly=false" (change)="modifTask(t,modifTaskInput.value,t.done)"
              #modifTaskInput type="text" class="bg-third border-0 px-2 py-1 h-75 w-100" value="/{{t.name}}"
              aria-label="task input name" aria-describedby="button-addon1">
            <!-- Buttons -->
            <span class="w-auto">
              <i (click)="deleteTask(t._id)" class="bi bi-trash w-auto fs-5 pl-4" placement="top"
                ngbTooltip="Delete Task"></i>
            </span>
          </div>
        </li>
      </ul>
      <!-- new task input-->
      <div *ngIf="selectedFolder" class="input-group my-3">
        <input (change)="addTask(addTaskInput)" #addTaskInput type="text" class="form-control h-75"
          placeholder="Add a new task..." aria-label="task add input" aria-describedby="button-addon1">
        <button class="btn btn-outline-secondary px-1 py-0" type="button"><i class="bi bi-plus fs-4 text-success"
            placement="bottom" ngbTooltip="New Task"></i></button>
      </div>
    </div>
    <!--Spinner-->
    <div *ngIf="spinner" class="row d-flex align-items-center">
      <div class="clearfix">
        <div class="spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
